:root {
    --primary-color: #1e3a8a; /* Deep blue */
    --secondary-color: #3b82f6; /* Light blue */
    --accent-color: #f59e0b; /* Golden yellow */
    --text-color: #333; /* Dark text */
    --background-color: #f5f5f5; /* Light gray background */
    --font-family-sans: 'Roboto', sans-serif;
    --font-family-serif: 'Lora', serif;
    --heading-font-size: 36px;
    --subheading-font-size: 30px;
    --paragraph-font-size: 16px;
}
body{
    font-family: var(--font-family-sans);
    color: var(--text-color);
    background-color: var(--background-color);
    margin-top: none;
    overflow-x: hidden;
}

/* language part */
.language-switcher {
    position: relative; 
    display: inline-block;
}
.world-icon {
    cursor: pointer;
    width: 24px; 
    height: 24px; 
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 405px;
}
.language-switcher .dropdown_content {
    display: block; 
    left: 85%;
    min-width: 120px;
}
.dropdown_content{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 100%;
    left: 0;
}

.dropdown_content a{
    padding: 12px 16px;
    display: block;
}

.dropdown_content a:hover{
    background-color: #f1f1f1;
    color: var(--text-color);
    text-decoration: none;
}

.language-content {
    display: none; /* Hide all language content initially */
}
.language-content.show {
    display: block;
}
/* end language part */

h1 {
    font-family: var(--font-family-serif);
    font-size: var(--heading-font-size);
    font-weight: bold;
    color: var(--primary-color);
}

h2, h3, h6 {
    font-family: var(--font-family-serif);
    font-weight: bold;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

li{
    list-style: none;
}

header{
    position: relative;
    width: 100%;
    z-index: 10;
}
/* nav bar */
.hamburger{
    display: none;
}
nav {
    width: 100%;
    padding-top: 15px;
    display: flex;
    box-shadow: 2px 10px 0px -4px rgba(0,0,0,0.39);
    background-color: white;
    position: relative;
}

nav ul{
    margin: 0 50px;
    padding-left: 330px;
    display: flex;
    font-weight: 500; 
    position: relative;
}

nav ul li{
    position:relative;
    padding-left: 25px;
    padding-top: 4px;
}

nav ul a{
    padding: 8px;
}

nav ul a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: var(--primary-color);
}

#logo{
    transform: scale(1) translate(150px,0px);
}

.person, .cart, .heart{
    padding-top: 5px;
    padding-left: 10px;
    cursor: pointer;
}

.cart_quantity{
    background-color: red;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    padding: 1px 5px;
    top: 35px;
}

.dropdown{
    position: relative;
}

.product_content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 100%;
    left: 0;
}

.product_content a{
    padding: 12px 16px;
    display: block;
}

.product_content a:hover{
    background-color: #f1f1f1;
    color: var(--text-color);
    text-decoration: none;
}

.dropdown:hover .product_content {
    display: block;
}
/* end navbar */

/* first part */
.btn {
    background-color: #274a75;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 48px ;
    text-transform: uppercase;
    position: relative;
    transition: left 0.2s ease-in-out;
    font-weight: bold;
    z-index: 2;
}

.btn:hover {
    left: 5px;
}

.backimg{
    width: 75%;
    transform: translate(200px,0px);
    padding-top: 7px;
    z-index: 1;
}

.background{
    position: relative;
    z-index: 1;
}

.text {
    position: absolute;
    top: 250px;
    left: 250px;
    text-transform: uppercase;
    z-index: 2;
    width: 600px;
}

/* end first part */

/* services */
.sticker{
    border-radius: 200px;
    border: 3px ridge #274a75;
    width: 60px;
    padding: 5px;
}
.containerone{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
    transform: translate(50px,0px);
}
.containerone span {
    flex-basis: 20%;
    max-width: 20%;
    margin-bottom: 0px;
    text-align: center; 
}
.containerone h6{
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 3px;
    font-size: 15px;
}
.containerone p{
    margin-top: 0px;
    color: #555;
}
/* end services */


/* category part */
.categories img{
    border-radius: 200px;
    margin-right: 100px;
}

.categories{
    display: flex;
    justify-content: center;
}

.man, .accessories{
    width: 90px;
}

.woman{
    width: 80px;
} 

.categ_title{
    font-size: 15px;
    margin-top: 5px;
    margin-left: 10px;
}
/* end category part */


/*product popular part  */
.section{
    margin-top: 100px;
    margin-left: 45px;
}

.section_para{
    border-left: 20px solid #274a75;
    padding-left: 20px;
    margin-bottom: 20px;
    color: #14264e;
    font-size: 20px;
    font-weight: 500;
}

.section_title{
    font-size: 30px;
}

/* swiper part */
.swiper {
width: 100%;
height: 100%;
}
.swiper-slide { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

/* cards */
.cards{
    width: 350px;
    height: 830px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 23px;
}
.card_top{
    max-width: 100%;
    height: 100%;
    position: relative;
}
.card_img{
    max-width: 100%;
    height: 100%;
   object-fit:contain;
   display: block;
}

.card_icons{
    position: absolute;
    top:25px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.card_icon{
    width: 25px;
    border-radius: 100px;
    border: 1px solid grey;
    padding: 1.2px;
    cursor: pointer;
    margin: 3px;
}

.star{
    width: 25px;
    fill: #ffd700;;
}

.card_bottom{
    margin-top: auto;
    text-align: left;
    padding: 20px;
    padding-top: 10px;
}

.card_title{
   font-size: 18px; 
   margin-bottom: 10px;
}

.description{
    font-size: 14px;
    color: #555;
    text-align: justify;
}

.card_price{
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: bold;
}

.card_rating{
    display: flex;
    align-items: center;
}

.card_stars{
    margin-right: 10px;
}

.add{
    background-color: #274a75;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 48px;
    text-transform: uppercase;
    position: relative;
    transition: left 0.2s ease-in-out;
    font-weight: bold;
    margin-bottom: 5px;
}

#best_selling .add{
    margin-left: 85px;
}

.products .add{
    margin-left: 85px;
}

.add:hover {
    left: 5px;
    background-color: #1e3a5a;
}

.container_btn{
    width:100%;
    text-align: center;
    margin-top: 35px;
}

.btn_link{
    background-color: #274a75;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 48px ;
    text-transform: uppercase;
    position: relative;
    transition: left 0.2s ease-in-out;
    font-weight: 500;
    margin-left: 590px;
    margin-right: 590px;
}

.btn_link:hover {
    left: 5px;
    background-color: #1e3a5a;
}

.liked{
    fill:red;
    color: red;
}
/* end popular product part */

/* product part */
.products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    grid-gap: 32px;
    margin-left: 30px;
}

/* notification part */
#notification{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    background-color: #e0f7fa; 
    padding: 10px;
    border: 1px solid #ddd;
    display: none; 
    z-index: 9999;
}

.message {
    font-size: 18px;
    color: #00796b; 
    text-align: center;
    font-weight: 400;
}

/* cart part */
.cart_section .language-content {
    display: none;
}
.cart_section .language-content.show{
    display: block;
}
.cart_section{
    position: fixed;
    top: 0;
    right: -500px;
    width: 500px;
    background-color: #fff;
    height: 100vh;
    transition: 0.5s;
    z-index: 1000;
}
.cart_section h1{
    font-weight: 100;
    margin: 0;
    padding: 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.checkOut .closing, .checkOut .total_cart{
    background-color: #1e3a5a;
    width: 100%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}
.checkOut .closing{
    background-color: #1C1F25;
}
.active .cart_section {
    right: 0;
}

.listCart{
    margin: 0;
    padding: 0;
    overflow-y: auto;
    max-height: calc(80vh - 80px);
}
.listCart li{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}
.cart-item{
    display: flex;
    align-items: center;
    width: 100%;
}
.cart-item-img{
    width:30%;   
    height: auto;
    margin-right: 15px;
}
.cart-item-details{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.cart-item-details h3{
    margin: 0;
}
.cart-item-details p{
    margin: 5px 0;
    font-weight: bold;
    font-size: 14px;
}
.cart-quantity-controls {
    display: flex;
    align-items: center;
    gap: 10px; 
}
.cart-quantity-controls button{
    background-color: #1e3a5a;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 5px 10px;
}
.cart-quantity-controls button:hover {
    background-color: #16324b; 
}
.cart-item-qty{
    margin: 0 10px;
}
.trash-icon {
    position: relative;
    margin-left: 250px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/* footer */
.footer{
    margin-top: 100px;
    border-top: 1px solid grey;
}
.container_footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 12px;
}
.footer_title{
    transform: translate(35px);
}

/* mobile nav */
.mobile_nav{
    right: 0;
    position: absolute;
    z-index: 999;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    width: 170px;
    height:135px;
}
.mobile_list{
    display: flex;
    flex-direction: column;
    padding: 0;
}
.mobile_item{
    padding: 0px;
}
.mobile_link{
    padding: 10px;
}
.mobile_nav_hide{
    display: none;
}
.dropstart .product_content {
    display: none;
    position: absolute;
    top: 0;
    left: -200%;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 50;
}

/* responsive design */
@media only screen and (min-width: 1280px) and (max-width: 1360px){
    .btn_link{
        border-radius: 40px ;
        margin-left: 540px;
        margin-right: 540px;
    }
    nav ul{
        padding-left: 300px;
    }
    .world-icon {
        padding-left: 358px;
    }
    h1{
        font-size: 33.5px;
    }
    .text {
        top: 220px; 
    } 
}
@media only screen and (min-width: 1160px) and (max-width: 1280px){
    .btn_link{
        border-radius: 30px ;
        margin-left: 490px;
        margin-right: 490px;
    }
    .world-icon {
        padding-left: 200px;
    }
    h1{
        font-size: 30px;
    }
    .text {
        top: 220px; 
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1159px){
    nav ul{
        padding-left: 230px;
    }
    .btn_link{
        border-radius: 30px ;
        margin-left: 400px;
        margin-right:400px;
    }
    .world-icon {
        padding-left: 150px;
    }
    h1{
        font-size: 25px;
    }
    .text {
        top: 190px; 
        left: 190px;
    } 
    .backimg{
        transform: translate(150px,0px);
    }
    #best_selling .add{
        margin-left: 60px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1000px){
    #logo{
        transform: scale(1) translate(50px,0px);
    }
    nav ul{
        padding-left: 50px;
    }
    .btn_link{
        border-radius: 30px ;
        margin-left: 280px;
        margin-right:280px;
    }
    .world-icon {
        padding-left: 80px;
    }
    h1{
        font-size: 25px;
    }
    .text {
        top: 190px; 
        left: 60px;
    } 
    .backimg{
        transform: translate(0px,0px);
        width: 100%;
    }
    #best_selling .add{
        margin-left: 20px;
    }
    .containerone{
        transform: translate(20px,0px);
    }
    .language-switcher .dropdown_content { 
        left: 25%;
    }
}
@media screen and (max-width: 768px) {
    .backimg{
        transform: translate(0px,0px);
        width: 100%;
    }
    h1{
        font-size: 24.5px;
        overflow-wrap: break-word;
    }
    .text {
        top: 150px; 
        left: 39px;
    } 
    .containerone{
        transform: translate(0px,0px);
    }
    .btn_link{
        border-radius: 30px ;
        margin-left: 260px;
        margin-right:260px;
    }
    .world-icon {
        padding-right: 120px;
        padding-left: 150px;
    }
    .language-switcher .dropdown_content {
        left: 35%;
    }
    .hamburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 100;
        cursor: pointer;
    }
    .nav_list {
        display: none;
    }
    #logo{
        transform: scale(0.8) translate(100px,0px);
    }
    .navigation {
    position: relative;
    } 
    .categories img{
        margin-right: 70px;
    }
}
@media screen and (max-width: 699px){
    h1{
        font-size: 28px;
        overflow-wrap: break-word;
    }
    .text {
        top: 110px; 
        left: 39px;
        width: 280px;
    } 
    .btn_link{
        border-radius: 48px ;
        margin-left: 240px;
        margin-right:240px;
    }
    .categories img{
        margin-right: 50px;
    }
    h3 {
        font-size: 18px;
    }
    .world-icon {
        padding-right: 100px;
    }
}
@media screen and (max-width: 649px){
    .containerone span {
        flex-basis: 45%; 
        max-width: 45%; 
        margin-bottom: 15px;
    }
    h1{
        font-size: 24.5px;
        overflow-wrap: break-word;
    }
    .text {
        top: 100px; 
        left: 39px;
        width: 250px;
    } 
    h3 {
        font-size: 15px;
    }
    .btn_link{
        border-radius: 48px ;
        margin-left: 190px;
        margin-right:190px;
    }
    .world-icon {
        padding-right: 60px;
    }   
}
@media screen and (max-width: 575px){
    #logo{
        transform: scale(0.8) translate(5px,0px);
    }
    h1{
        font-size: 22.5px;
        overflow-wrap: break-word;
    }
    .text {
        top: 80px; 
        left: 25px;
        width: 258px;
    } 
    h3 {
        font-size: 14px;
    }
    .btn_link{
        border-radius: 48px ;
        margin-left: 130px;
        margin-right: 130px;
    }
    .world-icon {
        padding-right: 60px;
        padding-left: 60px;
    }   
    .container_footer{
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        margin-top: 0px;
    }
    .footer_logo{
        margin-left: -50px;
    }
}
@media screen and (max-width: 499px){
    h1{
        font-size: 20px;
        overflow-wrap: break-word;
    }
    .text {
        top: 50px; 
        left: 15px;
        width: 210px;
    } 
    h3 {
        font-size: 12px;
    }
    .btn_link{
        border-radius: 48px ;
        margin-left: 100px;
        margin-right: 100px;
    }
    .world-icon {
        padding-right: 40px;
        padding-left: 60px;
    } 
    .products{
        margin-left: 0px;
    } 
    .cart_section{
        width: 400px;
    } 
}
@media screen and (max-width: 426px){
    h1{
        font-size: 18px;
        overflow-wrap: break-word;
    }
    .text {
        top: 40px; 
        left: 15px;
        width: 210px;
    } 
    h3 {
        font-size: 12px;
    }
    .world-icon {
        padding-right: 40px;
        padding-left: 30px;
    } 
    .categories img{
        margin-right: 20px;
    }
    
}
@media screen and (max-width: 375px){
    h1 {
        font-size: 18px;
    }
    .text {
        top: 20px; 
        left: 15px;
        width: 160px;
    } 
    h3 {
        font-size: 13px;
    }
    .btn_link{
        border-radius: 48px ;
        margin-left: 75px;
        margin-right: 75px;
    }
    .btn {
        padding: 5px 10px;
        border-radius: 48px ;
    }
    .world-icon {
        padding-right: 30px;
    } 
    .cart_section{
        width: 380px;
    } 
}